@font-face {
    font-family: "Futura Light";
    src: url("../fonts/FuturaLT-Light.ttf");
}

@font-face {
    font-family: "Futura Book";
    src: url("../fonts/FuturaLT-Book.otf");
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* sidebar - navigation menu */

#sidebar-nav {
    width: 15%;
    float: left;
}

#nav-menu {
    width: 100%;
    min-height: 100vh;
    font-family: "Futura Light";
    color: #2d2d2b;
    background-color: #DDDED8;
}

#nav-menu > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#nav-menu a {
    text-decoration: none;
}

#nav-menu li {
    position: relative;
}

/* menu items sidebar */

.menu-item {
    border-bottom: 1px solid #E7E7E7;
    border-right: 1px solid #E7E7E7;
}

.menu-item > a {
    width: 100%;
    height: 100%;
    display: block;
    padding-left: 50px;
    line-height: 5em;
    text-transform: uppercase;
    font-size: 1em;
    color: #323232;
    background-color: #fff;
}

.menu-item > a::after {
    content: '';
    position: absolute;
    top: 0;
    right: -3px;
    height: 100%;
}

.menu-item > a:hover::after {
    border-right: 3px solid #EF7C01;
}

/* news items sidebar */

#menu-news > li {
    border-bottom: 1px solid #DFE0DA;
    padding-right: 5px;
}

.news-caption {
    padding-left: 50px;
    height: 80px;
    padding-top: 30px;
    font-size: 1em;
    text-transform: uppercase;
}

.news-item {
    background-color: #D8D9D3;
    padding: 20px 0 20px 20px;
    font-size: 13px;
    font-family: "Futura Book";
    color: #21221d;
}

.news-item a,
.news-caption a {
    color: #5b5c55;
    font-size: 11px;
    padding: 5px 10px;
    float: right;
}

.news-item a {
    position: absolute;
    bottom: 0;
    right: 0;
}

.news-caption a {
    display: inline-block;
    text-transform: lowercase;
}

span.news-date {
    font-size: 12px;
    font-family: "Futura Light";
}

.news-item-fill {
    margin: 20px 10px;
    text-align: right;
}

.news-item-fill > p {
    margin: 0;
    display: inline-block;
    width: 7px;
    height: 7px;
    margin: 2px;
    border: 1px solid #5b5c55;
}

/* flex container for main header and main section */

#flex-container {
    display: flex;
    width: 85%;
}

/* main header - col-1-2 */

#col-1-2 {
    width: 45%;
}

#main-header {
    display: inline-block;
    width: 100%;
}

.main-header-content {
    text-transform: uppercase;
    font-family: "Futura Light";
    margin-left: 30px;
}

.main-header-content > h1 {
    font-size: 3vw;
    font-weight: 400;
    margin: 30px 0 0 0;
    line-height: 3vw;
}

.main-header-content > h2 {
    margin: 0 0 15px 0;
    font-size: 1.2vw;
    white-space: nowrap;
}

.main-header-content > h2 > span {
    display: inline-block;
    width: 20%;
    height: 2px;
    background-color: #A6A6A6;
    margin-left: 15px;
}

#header-button {
    border: 1px solid #EF7B00;
    background-color: #fff;
    color: #EF7B00;
    font-family: "Futura Light";
    padding: 5px 20px;
}

#header-button:hover {
    cursor: pointer;
}

/* parameters section  - col-1-2 */

.flex-parameters {
    max-width: 680px;
    display: flex;
    flex-flow: row wrap;
    font-family: "Futura Light";
    color: #2D2D2D;
    overflow: hidden;
    margin-left: 20px;
    margin-right: 20px;
}

.parameters-container {
    position: relative;
    min-height: 200px;
}

#parameters-container-1,
#parameters-container-3 {
    width: 45%;
}

#parameters-container-2,
#parameters-container-4 {
    width: 55%;
}

.parameter {
    font-size: 3vw;
    margin: 50px 0 10px 20px;
}

.mm-unit {
    font-size: 14px;
}

.description {
    font-size: 1.2vw;
    margin: 0 0 0 25px;
    line-height: 10px;
}

.parameters-container::after,
.parameters-container::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    display: block;
}

#parameters-container-1::after,
#parameters-container-2::after {
    right: 0;
    bottom: 0;
    transform: translateY(50%);
    border-right: 2px solid #CFCFCF;
}

#parameters-container-3::after,
#parameters-container-4::after {
    right: 0;
    top: 0;
    transform: translateX(50%);
    border-top: 2px solid #CFCFCF;
}

#parameters-container-1::before {
    left: 0;
    bottom: 0;
    transform: translateY(50%);
    border-left: 2px solid #CFCFCF;
}

#parameters-container-3::before {
    left: 0;
    top: 0;
    transform: translateX(-50%);
    border-top: 2px solid #CFCFCF;
}

/* showcase section - col-1-2 */

#col-2-2 {
    position: relative;
    width: 55%;
    padding: 10px;
}

#background-image {
    margin-top: 10vh;
}

#background-image,
#window-image {
    max-width: 100%;
}

.showcase-image-container {
    position: absolute;
    top: 25%;
    left: -5%;
    width: 50%;
}

.tooltip-button {
    min-width: 15%;
    min-height: 10%;
    position: absolute;
    border: 1px solid #9E9E9E;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}

.tooltip-button::after,
.tooltip-button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}

.tooltip-button::after {
    width: 50%;
    border-top: 1px solid #9E9E9E;
}

.tooltip-button::before {
    height: 50%;
    border-right: 1px solid #9E9E9E;
}

.tooltip-button:first-of-type {
    bottom: 35%;
    left: -2%;
}

.tooltip-button:nth-of-type(2) {
    top: 17%;
    right: 33%;
}

.tooltip-button:last-of-type {
    bottom: 8%;
    left: 32%;
}

.tooltip-text {
    position: absolute;
    left: 110px;
    top: -50px;
    width: 350px;
    height: 180px;
    background-color: #fff;
    visibility: hidden;
    font-family: "Futura Light";
    padding: 20px 25px;
    box-shadow: 0 0 20px 1px #2D2D2D;
}

.tooltip-text::before {
    content: '';
    position: absolute;
    left: -60px;
    top: 55px;
    border: 30px solid;
    border-color: transparent #fff transparent transparent;
}

.tooltip-text h3 {
    font-size: 2em;
    font-weight: 200;
    margin: 0;
}

.tooltip-text p {
    font-size: 15px;
    margin-top: 10px;
    text-align: justify;
}