.section--about {
    padding: 15em 0;
    background-image: url(../img/bg-about.svg);
    background-size: cover;
}

.slides {
    margin-top: .5em;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
}

.slides__item {
    position: relative;
    box-sizing: border-box;
    margin-right: 10%;
    width: 40%;

    &:first-of-type {
        left: 0;
    }
}

