.section--contact {
    background-color: $black;
    text-align: center;
    padding: 4em 0 5em 0;

    @include mq('phone-wide', max) {
        padding: 4em 2em 5em;
    }
}

.form__input {
    box-sizing: border-box;
    font-family: $base-font;
    font-size: $base-font-size - 3;
    color: $white;
    margin-right: 1em;
    background-color: $grey;
    border: none;
    width: 30em;
    padding: 1em 2em;

    @include mq('tablet-small', max) {
        margin-bottom: 2em;
    }

    @include mq('phone-wide', max) {
        width: 100%;
    }

    &::placeholder {
        color: $white;
    }
}

.form__btn {
    @include mq('tablet-small', max) {
        display: block;
        width: 10em;
        margin: 0 auto;
    }

}