.section--home {
    padding-top: 2em;
    padding-bottom: 5em;
    background-image: url(../img/bg-home.svg);
    overflow: hidden;

    @include mq('phone-wide', max) {
        background: $green;
    }

    @include mq('tablet-wide', max) {

        .col-1-2 {
            display: none;
        }
        .col-2-2 {
            width: 100%;
        }

        .header__text {
            color: $black;
        }
    }


    @include mq('phone', max) {
        padding-top: 1em;
    }


}


.home-section__img {
    position: absolute;
    width: 20em;
    bottom: -10em;
    left: 0;

    @include mq('tablet-wide', max) {
        display: none;
    }
}

.main-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15em;


    @include mq('phone-wide', max) {
        margin-bottom: 8em;
    }

    @include mq('tablet', max) {
        font-size: $base-font-size - 2;
    }

    @include mq('phone', max) {
        align-items: flex-start;

    }


    &__item {
        display: inline-block;
        @include mq('phone', max) {
            display: block;
            margin-bottom: 2em;
        }
    }

    &__link {
        @extend .main-nav__item;
        text-align: center;

        &:last-of-type {
            margin-left: 2em;

            @include mq('phone-wide', max) {
                margin-left: 1em;
            }

            @include mq('phone-wide', max) {
                margin: 0;
            }

        }
    }

    &__logo {
        padding-left: .6em;
    }
}