.section--home {
    padding-top: 2em;
    padding-bottom: 5em;
    background-image: url(../img/bg-home.svg);
    overflow: hidden;


    @include mq('tablet-wide', max) {
        text-align: center;
        
        .col-1-2 {
            display: none;
        }
        .col-2-2 {
            width: 100%;
        }
        
        .header__text {
            color: $black;
        }
    }
}


.home-section__img {
    position: absolute;
    width: 20em;
    bottom: -10em;
    left: 0;

    @include mq('tablet-wide', max) {
        display: none;
    }
}

.main-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15em;


    &__item {
        display: inline-block;
    }

    &__link {
        @extend .main-nav__item;
        text-align: center;

        &:last-of-type {
            margin-left: 2em;
        }
    }

    &__logo {
        padding-left: .6em;
    }
}