@import '../helpers/variables';
@import '../helpers/mixins';

.section--testimonials {
    position: relative;
    padding: 12em 0 0 0;
    min-height: 40em;
    background-image: url(../img/bg-testimonials.svg);
    overflow: hidden;

    @include mq('desktop-wide', max) {
        background-size: 100% 100vw;
    }

    @include mq('desktop', max) {
        background-size: 100% 300vw;
    }


    @include mq('tablet', max) {
        padding-left: 4em;
        padding-right: 4em;
    }

    @include mq('phablet', max) {
        padding: 10em 2em;
    }

    @include mq('phone-wide', max) {
        background: $green;
    }

    @include mq('phone', max) {
        padding-top: 5em;
    }

    .header__heading {
        @include mq('tablet-wide', max) {
            color: $black;
        }
    }
}

.testimonials-section__img {
    position: absolute;
    width: 18em;
    bottom: -3em;
    left: 15em;
    transform: rotate(-27deg);

    @include mq('desktop-wide', max) {
        left: 8em;
        transform: rotate(-17deg);
    }

    @include mq('desktop', max) {
        display: none;
    }
}

.testimonials {
    position: absolute;
    bottom: 6em;
    left: 40em;

    @include mq('desktop-wide', max) {
        left: 30em;
    }

    @include mq('desktop', max) {
        position: static;
    }

    .testimonials__tooltip {
        position: relative;
        height: 15em;
        width: 40em;
        border-radius: 1em;
        background-color: $white;
        margin-bottom: 1em;

        @include mq('desktop', max) {
            margin: 0 auto;
        }

        @include mq('tablet', max) {
            width: 100%;
            height: 20em;
        }

        &::after {
            @include center(both);
            content: '';
            left: -2em;
            border: 2em solid;
            border-color: transparent $white transparent transparent;

            @include mq('desktop', max) {
                border-color: transparent transparent $white transparent;
                top: -2em;
                left: 50%;
            }
        }

        .testimonials__content {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
    }
}

.testimonial {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    transform: rotateX(90deg);
    opacity: 0;
    will-change: transform;
    transition: transform .6s ease-in, opacity .6s linear;
    line-height: 2em;
    padding: 4em;


    @include mq('phablet', max) {
        padding: 3em 2em;
    }

    &.active {
        transform: rotateX(0);
        opacity: 1;
    }

    &::before,
    &::after {
        @include pseudo;
        color: $green;
        font-size: $h1-font-size;
    }

    &::before {
        content: '“';
        top: .6em;
        left: .6em;
    }

    &::after {
        content: '”';
        right: .6em;
        bottom: .2em;
    }

    .testimonial__quote {
        margin-bottom: 1.8em;
        color: $black;


        @include mq('tablet-small', max) {
            font-size: $base-font-size - 2;
        }


        @include mq('phone-wide', max) {
            font-size: $base-font-size - 3;
        }
    }

    .testimonial__author {
        color: $green;


        @include mq('tablet-small', max) {
            font-size: $base-font-size - 2;
        }

        @include mq('phone-wide', max) {
            font-size: $base-font-size - 3;
        }
    }
}

.slides-nav--testimonials {}