@media all and (max-width: 992px) {

    #about p {
        text-align: center;
        margin-bottom: 50px;
    }
    
    #contact .section-header > h2, #contact .contact-data {
        text-align: center;
    }
    
    .contact-social-icons {
        justify-content: center;
    }
    
    #main-header .main-header-content {
        padding: 25%;
    }

}

@media all and (max-width: 768px) {
    
    #main-header .main-header-content h1 {
        font-size: 3em;
    }
    
    #main-header .main-header-content h2 {
        font-size: 1.5em;
    }
    
    #main-header .main-header-content {
        padding: 19vh;
    }
}


@media all and (max-width: 576px) {
    
    section {
        padding: 20px 10px 30px;
    }
    
    #main-header .main-header-content {
        padding: 10vh;
    }
}




