/* general styles */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #291f1a;
    margin: 0;
}

section {
    padding: 60px 0 80px 0;
    overflow: hidden;

}

.section-header > h2 {
    margin-bottom: 50px;
    font-weight: 200;
    font-size: 2em;
    text-align: center;
}

.section-header > h2 span {
    color: #00BF64;
    font-weight: 400;
}

/* menu */

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #00BF64;
}

.navbar-light .navbar-toggler {
    margin-right: 1rem;
    background-color: #f9fcfe;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
}


/* main header */

#main-header {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/header-background.jpg);
    color: #fff;
}

#main-header .main-header-content {
    padding: 30vh;
    text-align: center;
}

#main-header .main-header-content span {
    color: #00BF64;
    font-weight: 400;
}

#main-header .main-header-content h1 {
    font-weight: 200;
    font-family: 'Roboto', sans-serif;
    font-size: 4em;
}

#main-header .main-header-content h2 {
    font-weight: 200;
    font-size: 2em;
}

/* about section */

section#about {
    background-color: #f9fcfe;
}

#about .about-pic > figure {
    text-align: center;
}

#about .about-pic > figure > img {
    max-height: 350px;
    max-width: 100%;
    border: 15px solid #fff;
    border-radius: 5%;
}

#about .about-text p {
    line-height: 1.5em;
}

/* skills section */

#skills .section-header > p {
    text-align: center;
    margin-bottom: 50px;
}

#skills-icon .col-md-3 {
    flex-basis: 15%;
}


#skills-icon > figure > img {
    margin-bottom: 20px;
}


/* portfolio section */

.portfolio-items {
    font-size: 0;
    text-align: center;
}

.portfolio-item {
    position: relative;
    width: 33.33333%;
    float: left;
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 100px;
}

#portfolio-item-1 {
    background-image: url(../img/portfolio1.jpg);
}

#portfolio-item-2 {
    background-image: url(../img/portfolio2.jpg);
}

#portfolio-item-3 {
    background-image: url(../img/portfolio3.jpg);
}

.item-mask {
    background-color: rgba(42, 61, 79, 0.8);
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    font-size: initial;
    transition: all .3s ease-in-out;
}

/* cmd + e for coverting to rgb */

.item-mask:hover {
    opacity: 1;
}

.item-content {
    position: relative;
    margin: 10px;
    height: 330px;
    border: 1px solid #fff;
}

.item-content-inner {
    position: absolute;
    top: 50%;
    margin: 0 auto;
    transform: translateY(-50%);
    color: #fff;
    padding: 10px;
}

.item-content-inner > a {
    font-size: 28px;
    color: #fff;
}

.item-content-inner > a:hover {
    color: #1ac056;
}

/* contact section */

section#contact {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #213b50;
    color: #fff;
}

.contact-data,
.contact-form {
    float: left;
    width: 50%;
}

#contact h2 {
    text-align: left;
    font-weight: 300;
    font-size: 32px;
    margin-bottom: 60px;
}

#contact h2 > span {
    color: #00BF64;
    font-weight: 400;
}

.contact-data > address {
    margin-bottom: 70px;
    font-style: normal;
    font-weight: 200;
    line-height: 25px;
}

.address-data {
    margin-bottom: 30px;
}

.contact-data > address > a {
    color: #1ac056;
}

.contact-social-icons a {
    display: inline-block;
    color: #fff;
    border: 1px solid #fff;
    width: 40px;
    height: 40px;
    margin-right: 30px;
    text-align: center;
}

.contact-social-icons a > i {
    line-height: 40px;
    font-size: 24px;
}

/* contact form */

.contact-form {
    margin-top: 100px;
}

input[type="email"],
input[type="text"],
textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: 0 solid #2b4a64;
    background-color: #2b4a64;
}

input::placeholder,
textarea::placeholder {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #A9A9A9;
}

input:focus,
textarea:focus {
    background-color: #426684;
}

textarea {
    height: 90px;
}

input[type="submit"] {
    float: right;
    padding: 15px 30px;
    text-transform: uppercase;
    width: auto;
    background-color: #1ac056;
    color: #fff;
    border: 1px solid #fff;
    font-weight: 600;
    font-size: 14px;
    transition: all .3s;
}

input[type="submit"]:hover {
    background-color: #fff;
    color: #1ac056;
}


/* footer */

footer {
    padding: 0 80px;
    background-color: #142634;
}

footer > p {
    font-weight: 200;
    margin: 0;
    padding: 5px 0;
    color: #fff;
}