/* general styles */

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

.disable-scroll {
    overflow: hidden;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
p {
    margin: 0;
}

.col-1-2,
.col-2-2 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    flex-basis: 50%;
    padding: 1.5em;
}


section {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100vh;
    padding: 1.5em;
}

.section-header {
    text-align: center;
}

.section-header h2 {
    color: #fff;
    font-size: 2.4em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

/* main header styles */

#main-header {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #01bfa6;
    padding: 1%;
    height: 100vh;
}

#main-header > .main-header-content {
    display: flex;
    height: 100%;
}

#main-header > .main-header-content .main-header-text {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 2em;
    width: 24em;
    text-align: right;
    -webkit-transform: translate(-100%, -50%);
    -ms-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%);
}

#main-header > .main-header-content h1 {
    display: inline-block;
    color: #01bfa6;
    font-size: 4em;
    margin-bottom: 0.4em;
}

#main-header > .main-header-content h1::after {
    content: '';
    border-top: 1px solid #01bfa6;
    margin-top: 0.2em;
    display: block;
}

#main-header > .main-header-content h2 {
    font-weight: 300;
    font-size: 2em;
    color: #fe6a22;
    margin-bottom: 1em;
}

#main-header > .main-header-content p {
    text-align: justify;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    line-height: 2em;
    letter-spacing: 0.1em;
    color: #fff;
    font-size: 0.76em;
}

#main-header > .main-header-content > .col-2-2 {
    background: url(../img/bike.jpg) bottom;
    height: inherit;
    background-size: cover;
}

#main-header > .main-header-content > .col-1-2 {    
    background: url(../img/background.jpg) center;
    background-size: cover;
}

/* chevrons */

.chevron {
    cursor: pointer;
}

.chevron.left {
    position: absolute;
    top: 3.2em;
    left: 10em;
}

.chevron.bottom,
.chevron.up {
    position: fixed;
    bottom: 3em;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.chevron.up.white::before,
.chevron.bottom.white::before {
    border-color: #fff;
}

.chevron::before {
    border-style: solid;
    border-color: #01bfa6;
    border-width: 0.25em 0.25em 0 0;
    content: '';
    display: inline-block;
    height: 1em;
    width: 1em;
    position: relative;
}

.chevron.left::before {
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.chevron.bottom::before {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

.chevron.up::before {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* picture section*/

#picture-section {
    background: #fe6a22;
}

/* motion section*/

#motion-section {
    background: #01bfa6;
}

/* sound section*/

#sound-section {
    background: #468966;
}

/* contact section*/

#contact-section {
    background: #c3a392;
}