body {
    margin: 0;
    padding: 20px;
    font-family: "Lato", sans-serif;
    background-color: #ACABAB;
    text-align: center;
    color: #1f1f1f;
}

form {
    margin: 0 auto;
    text-align: left;
    width: 400px;
    padding: 50px 100px;
    box-shadow: 0 0 1px 1px #EEEEEE;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #EEEEEE;
}

input, select {
    background-color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: #656262;
    box-shadow: 0 0 10px 1px #ACABAB;
}

select {
    width: 145px;
    height: 20px;
}

label {
    display: block;
    margin-bottom: 6px;
}

input, select {
    margin-bottom: 20px;
}

label[for=podatek] {
    float: left;
    margin-right: 10px;
}

input[type=checkbox] {
    
    box-shadow: 0 0 5px 1px #ACABAB;
}

input[type=button] {
    margin-top: 20px;
    width: 100px;
}