@media only screen and (max-width: 880px) {

    #main-header > .main-header-content .main-header-text {
        width: 21em;
    }
}

@media only screen and (max-width: 815px) {

    #main-header > .main-header-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
    }

    #main-header > .main-header-content .main-header-text {
        text-align: center;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 24em;
    }

    #main-header > .main-header-content > .col-1-2 {
        height: 50vh;
    }

    #main-header > .main-header-content > .col-2-2 {
        height: 50vh;
    }

    #main-header > .main-header-content > .col-1-2 {
        background: url(../img/bg-sm.jpg) center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    #main-header > .main-header-content > .col-2-2 {
        background: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 13, 16)), to(rgba(2, 12, 15, 0))), url(../img/bike-sm.jpg) center;
        background: -webkit-linear-gradient(top, rgb(0, 13, 16), rgba(2, 12, 15, 0)), url(../img/bike-sm.jpg) center;
        background: -o-linear-gradient(top, rgb(0, 13, 16), rgba(2, 12, 15, 0)), url(../img/bike-sm.jpg) center;
        background: linear-gradient(to bottom, rgb(0, 13, 16), rgba(2, 12, 15, 0)), url(../img/bike-sm.jpg) center;
        background-size: cover;
    }
}

@media only screen and (max-width: 728px) {
    #main-nav > ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

@media only screen and (max-width: 576px) {

    #main-header > .main-header-content > .col-1-2 {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    #main-header > .main-header-content > .col-2-2 {
        display: none;
    }

}

@media only screen and (max-width: 420px) {

    #main-header > .main-header-content .main-header-text {
        -webkit-transform: translate(-50%, -40%);
        -ms-transform: translate(-50%, -40%);
        transform: translate(-50%, -40%);
        width: 90%;
    }

    #main-header > .main-header-content h1 {
        font-size: 2.8em;
    }


    #main-header > .main-header-content p {
        font-size: 0.8em;
    }

    #main-header > .main-header-content h2,
    .section-header h2 {
        font-size: 1.4em;
    }

    #lang-nav {
        position: absolute;
        right: 1em;
    }

    .nav-toggle-button {
        left: 1em;
    }

    .chevron.left {
        left: 6em;
    }
}

/*
iOS safari vh/vw bug

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    #main-nav,
    #main-header,
    section {
        height: 1024px;
    }
}


@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
    #main-nav,
    #main-header,
    section {
        height: 768px;
    }
}

@media screen and (device-aspect-ratio: 40/71) {
    #main-nav,
    #main-header,
    section {
        height: 500px;
    }
}*/
