@media only screen and (max-width: 728px) {
    #main-nav > ul {
        flex-direction: column;
    }

    #main-header > .main-header-content {
        background: url(../img/bg-sm.jpg) center;
    }
}

@media all and (max-width: 576px) {
    
    #main-header {
        height: 140vh;
    }
    #main-header > .main-header-content > .col-2-2 {
        display: none;

    }

    #main-header > .main-header-content > .col-1-2 {
        width: 100%;
    }
    
    #main-header > .main-header-content .main-header-text {
        text-align: center;
    }

    #main-header > .main-header-content h1 {
        font-size: 3em;
    }
    
    #main-header > .main-header-content h2 {
        font-size: 1.5em;
    }
}