@charset "UTF-8";
body {
  background-color: #F9F9F9;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #fff; }

body,
h1,
h2,
h3,
h4,
p,
ul,
figure,
blockquote {
  margin: 0; }

ul {
  list-style-type: none;
  padding: 0; }

a {
  text-decoration: none; }

.flex-container {
  display: flex;
  width: 100%; }

.col-1-2 {
  position: relative; }

.col-1-2,
.col-2-2 {
  width: 50%; }

.section {
  background-size: cover; }
  @media only screen and (max-width: 1023px) {
    .section {
      padding-left: 4em;
      padding-right: 4em; } }
  .section__content {
    margin: 0 auto;
    width: 60em; }
    @media only screen and (max-width: 1023px) {
      .section__content {
        width: 100%; } }

.header--center {
  text-align: center;
  margin-bottom: 4em; }
  .header--center .header__heading {
    margin-bottom: 1em; }
  .header--center .header__text {
    line-height: 2em; }

.header--left .header__heading {
  margin-bottom: 2em; }

.header--left .header__text {
  margin-bottom: 6em;
  line-height: 2em; }

.btn {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  padding: 1em 0;
  width: 9em;
  border: none;
  cursor: pointer;
  will-change: transform;
  transition: transform .3s ease-in; }
  .btn--block {
    display: block;
    text-align: center; }
    @media only screen and (max-width: 1023px) {
      .btn--block {
        margin: 0 auto; } }
  .btn--green {
    background-color: #41e0d8; }
  .btn--white {
    background-color: #fff;
    color: #41e0d8; }
  .btn--black {
    background-color: #262a34; }
  .btn:hover {
    transform: scale(1.05); }

.slides-nav {
  width: 8em;
  margin: 0 auto;
  position: relative;
  text-align: center; }
  .slides-nav__item {
    position: absolute;
    top: 1em; }
    .slides-nav__item:first-of-type {
      left: 0; }
    .slides-nav__item:nth-of-type(2) {
      left: 2.5em; }
    .slides-nav__item:nth-of-type(3) {
      left: 5em; }
    .slides-nav__item:nth-of-type(4) {
      left: 7.5em; }
  .slides-nav__link {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: #fff;
    opacity: .5;
    border-radius: .5em;
    will-change: transform;
    transition: all .5s linear; }
    .slides-nav__link.active {
      width: 2em;
      opacity: 1;
      transform: scaleX(1) translateX(-0.5em); }

h1 {
  font-size: 2.6em;
  font-weight: 600;
  color: #3c3d41; }
  @media only screen and (max-width: 767px) {
    h1 {
      padding-left: 4em;
      padding-right: 4em; } }

h2 {
  font-size: 2.6em;
  font-weight: 600;
  color: #fff; }

.text {
  font-size: 15px;
  font-weight: 400; }
  .text--white {
    color: #fff; }
  .text--black {
    color: #262a34; }
  .text--green, .text .text--quotes {
    color: #41e0d8; }
  .text--italic, .text .text--quotes {
    font-style: italic; }

q {
  quotes: "“" "”" "‘" "’";
  padding: 2em; }

q:before {
  content: open-quote; }

q:after {
  content: close-quote; }

.footer {
  padding: 4em;
  text-align: center; }
  @media only screen and (max-width: 479px) {
    .footer {
      padding: 4em 2em; } }
  .footer .footer__logo {
    margin-bottom: 2em; }

.section--contact {
  background-color: #262a34;
  text-align: center;
  padding: 4em 0 5em 0; }
  @media only screen and (max-width: 479px) {
    .section--contact {
      padding: 4em 2em 5em; } }

.form__input {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #fff;
  margin-right: 1em;
  background-color: #51565C;
  border: none;
  width: 30em;
  padding: 1em 2em; }
  @media only screen and (max-width: 639px) {
    .form__input {
      margin-bottom: 2em; } }
  @media only screen and (max-width: 479px) {
    .form__input {
      width: 100%; } }
  .form__input::placeholder {
    color: #fff; }

@media only screen and (max-width: 639px) {
  .form__btn {
    display: block;
    width: 10em;
    margin: 0 auto; } }

.section--testimonials {
  position: relative;
  padding: 12em 0 0 0;
  min-height: 40em;
  background-image: url(../img/bg-testimonials.svg);
  overflow: hidden; }
  @media only screen and (max-width: 1439px) {
    .section--testimonials {
      background-size: 100% 100vw; } }
  @media only screen and (max-width: 1247px) {
    .section--testimonials {
      background-size: 100% 300vw; } }
  @media only screen and (max-width: 767px) {
    .section--testimonials {
      padding-left: 4em;
      padding-right: 4em; } }
  @media only screen and (max-width: 559px) {
    .section--testimonials {
      padding: 10em 2em; } }
  @media only screen and (max-width: 1023px) {
    .section--testimonials .header__heading {
      color: #262a34; } }

.testimonials-section__img {
  position: absolute;
  width: 18em;
  bottom: -3em;
  left: 15em;
  transform: rotate(-27deg); }
  @media only screen and (max-width: 1439px) {
    .testimonials-section__img {
      left: 8em;
      transform: rotate(-17deg); } }
  @media only screen and (max-width: 1247px) {
    .testimonials-section__img {
      display: none; } }

.testimonials {
  position: absolute;
  bottom: 6em;
  right: 10%; }
  @media only screen and (max-width: 1247px) {
    .testimonials {
      position: static; } }
  .testimonials .testimonials__tooltip {
    position: relative;
    height: 15em;
    width: 40em;
    border-radius: 1em;
    background-color: #fff;
    margin-bottom: 1em; }
    @media only screen and (max-width: 1247px) {
      .testimonials .testimonials__tooltip {
        margin: 0 auto; } }
    @media only screen and (max-width: 767px) {
      .testimonials .testimonials__tooltip {
        width: 100%;
        height: 20em; } }
    .testimonials .testimonials__tooltip::after {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      content: '';
      left: -2em;
      border: 2em solid;
      border-color: transparent #fff transparent transparent; }
      @media only screen and (max-width: 1247px) {
        .testimonials .testimonials__tooltip::after {
          border-color: transparent transparent #fff transparent;
          top: -2em;
          left: 50%; } }
    .testimonials .testimonials__tooltip .testimonials__content {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden; }

.testimonial {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  transform: rotateX(90deg);
  opacity: 0;
  will-change: transform;
  transition: transform .6s ease-in, opacity .6s linear;
  line-height: 2em;
  padding: 4em; }
  .testimonial.active {
    transform: rotateX(0);
    opacity: 1; }
  .testimonial::before, .testimonial::after {
    content: "";
    display: block;
    position: absolute;
    color: #41e0d8;
    font-size: 2.6em; }
  .testimonial::before {
    content: '“';
    top: .6em;
    left: .6em; }
  .testimonial::after {
    content: '”';
    right: .6em;
    bottom: .2em; }
  .testimonial .testimonial__quote {
    margin-bottom: 1.8em;
    color: #262a34; }
  .testimonial .testimonial__author {
    color: #41e0d8; }

.section--home {
  padding-top: 2em;
  padding-bottom: 5em;
  background-image: url(../img/bg-home.svg);
  overflow: hidden; }
  @media only screen and (max-width: 1023px) {
    .section--home {
      text-align: center; }
      .section--home .col-1-2 {
        display: none; }
      .section--home .col-2-2 {
        width: 100%; }
      .section--home .header__text {
        color: #262a34; } }

.home-section__img {
  position: absolute;
  width: 20em;
  bottom: -10em;
  left: 0; }
  @media only screen and (max-width: 1023px) {
    .home-section__img {
      display: none; } }

.main-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15em; }
  .main-nav__item, .main-nav__link {
    display: inline-block; }
  .main-nav__link {
    text-align: center; }
    .main-nav__link:last-of-type {
      margin-left: 2em; }
  .main-nav__logo {
    padding-left: .6em; }

.section--about {
  padding: 12em 0;
  background-image: url(../img/bg-about.svg); }
  @media only screen and (max-width: 1023px) {
    .section--about {
      padding: 10em 4em; } }
  @media only screen and (max-width: 1023px) {
    .section--about {
      text-align: center; } }
  @media only screen and (max-width: 1023px) {
    .section--about .flex-container {
      flex-flow: column; }
      .section--about .flex-container .col-1-2 {
        width: 100%;
        margin-bottom: 4em; }
      .section--about .flex-container .col-2-2 {
        height: 25em;
        width: 30em;
        margin: 0 auto; } }
    @media only screen and (max-width: 1023px) and (max-width: 639px) {
      .section--about .flex-container .col-2-2 {
        width: 100%; } }

.slides {
  position: relative;
  margin-top: .5em;
  height: 100%;
  width: 100%;
  overflow: hidden; }
  @media only screen and (max-width: 1023px) {
    .slides {
      margin-top: 0; } }
  .slides .slides__items {
    position: absolute;
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%; }
    @media only screen and (max-width: 639px) {
      .slides .slides__items {
        flex-flow: column; } }
    .slides .slides__items.active .slide__item {
      transform: rotateY(0); }
  .slides .slide__item {
    position: relative;
    will-change: transform;
    transition: transform .6s ease-out;
    transform: rotateY(-180deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
  .slides .slide__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 2.6em; }
