@import '../helpers/variables';
@import '../helpers/mixins';

h1 {
    font-size: $h1-font-size;
    font-weight: $font-semi-bold;
    color: $black-lite;
}

h2 {
    font-size: $h1-font-size;
    font-weight: $font-semi-bold;
    color: $white;
}

h3 {
    font-size: $h3-font-size;
    font-weight: $font-regular;

}

h4 {
    font-size: $h4-font-size;
    font-weight: $font-regular;
}

.text {
    font-size: $base-font-size;
    font-weight: $font-regular;

    &--white {
        color: $white;
    }

    &--black {
        color: $black;
    }
    
    &--green {
        color: $green;
    }
    
    &--italic {
        font-style: italic;
    }
}


.text .text--quotes {
    @extend .text--italic;
    @extend .text--green;
}

q {
    quotes: "“" "”" "‘" "’";
    padding: 2em;
}

q:before {
    content: open-quote;
}

q:after {
    content: close-quote;
}