@import '../helpers/variables';
@import '../helpers/mixins';

body,
h1,
h2,
h3,
h4,
p,
ul,
figure {
    margin: 0;
}

h1 {
    font-size: $h1-font-size;
    font-weight: $font-regular;

    @include mq('phone-wide', max) {
        font-size: $h1-font-size - .2em;
    }
}

h2 {
    font-size: $h2-font-size;
    font-weight: $font-regular;

    @include mq('phone-wide', max) {
        font-size: $h2-font-size - .2em;
    }
}

h3 {
    font-size: $h3-font-size;
    font-weight: $font-regular;

    @include mq('phone-wide', max) {
        font-size: $h3-font-size - .3em;
    }
}

h4 {
    font-size: $h4-font-size;
    font-weight: $font-regular;

    @include mq('phone-wide', max) {
        font-size: $h4-font-size - .3em;
    }
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: $night-primary;
    transition: color .3s;
}

.text {
    font-size: $base-font-size;

    @include mq('phone-wide', max) {
        font-size: $base-font-size - 2;
    }
}

a:hover,
.text--gold {
    color: $gold;
}

.page {
    font-family: $base-font;
    background-color: $day-primary;
    color: $night-primary;
    transition: background-color .3s ease-in, color .3s ease-in;
    letter-spacing: .1em;
    font-size: $base-font-size;
    font-weight: 300;

    .disable-scroll {
        overflow: hidden;
    }
}

.section {
    box-sizing: border-box;
    padding: 2em 4em;
    min-height: 100vh;

    @include mq('tablet-small', max) {
        padding: 2em;
    }

    @include mq('phone-wide', max) {
        padding: 1em;
    }

    .section__head {
        text-align: left;
        margin-bottom: 5em;

        .section__heading {
            text-transform: uppercase;
            margin-bottom: .6em;
        }

        .section__text {
            line-height: 2em;
            @include mq('phone-wide', max) {
                font-size: $base-font-size - 2;
            }
        }
    }
}