body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#accordion-menu {
    margin: 20px;
    width: 400px;
}

.section {
    overflow: hidden;
    border: 1px solid #b7b7b7;
}

.section:first-of-type, .section:nth-of-type(2) {
    border-bottom: none;
}

h3 {
    margin: 0;
    padding: 10px;
    background-color: #d1d1d1;
}

p {
    margin: 0;
    padding: 0 10px;
    height: 0;
    transition: all .2s linear;
}