@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .row-container {
        width: 98%;
    }
    .row-header {
        padding-left: 3em;
        flex-basis: 20%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 968px) {

    .row-header h4 {
        font-size: 1.2em;
    }
    .row-cell.invest > .btn-invest {
        padding: 1em 0.4em;
        font-size: 1em;
    }

    .row-cell p,
    .row-cell.value p {
        font-size: 1.8em;
    }
}

@media only screen and (max-width: 767px) {
    .row-container {
        flex-flow: row wrap;
        justify-content: center;
    }

    .row-cell.three-m,
    .row-cell.twelve-m,
    .row-cell.thirty-m,
    .row-cell.ytd {
        display: none;
    }

    .row-header > ul > li:last-of-type {
        display: none;
    }

    .row-cell.invest .icons .scale {
        display: none;
    }

    .row-header,
    .row-cell.invest {
        flex-basis: 86%;
    }

    .row-header {
        padding: 0;
        order: 1;
    }

    .row-header h4 {
        margin-bottom: 0.8em;
        max-width: 90%;
    }

    .row-cell.invest {
        order: 2;
        border-bottom: 1px solid #D8D8D8;
    }

    .row-cell.invest > .btn-invest {
        width: 100%;
    }

    .row-cell.invest .icons .eye {
        position: absolute;
        top: 2.2em;
        right: 6%;
    }

    .row-cell {
        margin-top: 0em;
        flex-basis: 30%;
        order: 3;
    }

    .row-cell.one-m,
    .row-header {
        border-right: none;
    }

}

@media only screen and (max-width: 469px) {
    .row-header,
    .row-cell.invest {
        flex-basis: 80%;
    }
    .row-cell {
        flex-basis: 28%;
    }
}