@import '../helpers/variables';
@import '../helpers/mixins';

/* footer */

.footer {
    padding: 1em 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mq('tablet-small', max) {
        padding: 1em 2em;
    }

    @include mq('phone-wide', max) {
        padding: 1em;
    }

    .text--copyright {
        @include mq('phone-wide', max) {
            display: none;
        }
    }

    .footer-nav__item {
        display: inline-block;
        font-size: 1.6em;

        @include mq('phone', max) {
            font-size: 1.4em;
        }

        &:last-of-type {
            padding-left: 1em;

            @include mq('phone', max) {
                padding-left: .8em;
            }

        }
    }
}