body {
    margin: 0;
    background-color: #fff;
    font-family: 'Verdana', sans-serif;
}

#main-header {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-header-conent > h2 {
    margin: 0;
    text-transform: uppercase;
    position: absolute;
}

.main-header-conent > h2 > span {
    display: block;
    margin-top: 5%;
    font-size: 1.5em;
}