@import '../helpers/variables';
@import '../helpers/mixins';

.section-contact__content {
    display: flex;
    justify-content: space-around;

    .section-contact__img {
        flex-basis: 50%;

        @include mq('tablet-wide', max) {
            flex-basis: 40%;
        }
        @include mq('custom-879', max) {
            display: none;
        }
    }
}

.form {
    flex-basis: 50%;
    text-align: center;

    @include mq('custom-879', max) {
        flex-basis: 100%;
    }

    .form__textarea,
    .form__input {
        box-sizing: border-box;
        width: 100%;
        display: block;
        margin-bottom: 3em;
        border: .1em solid $gold;
        padding: 1em;
        letter-spacing: .1em;
        font-family: $base-font;
        color: $night-primary;
        background-color: $day-primary;

        &:focus {
            outline: .1em solid $gold;
        }
    }

    .form__textarea {
        height: 22em;
    }

    .form__input::placeholder,
    .form__textarea::placeholder {
        text-transform: uppercase;
        font-size: $base-font-size - 5;
    }
}
