@import '../helpers/variables';
@import '../helpers/mixins';

.works {

    @include flex-row;
    width: 100%;
    height: 48em;

    @include mq('tablet-wide', max) {
        height: 86em;
    }

    .works__item {
        @include flex-row;
        text-align: center;
        justify-content: space-between;
        box-sizing: border-box;
        position: relative;
        padding: 1em;
        flex-basis: 50%;
        border: 1px solid $day-primary;
        background-color: $beige;
        overflow: hidden;

        @include mq('tablet-wide', max) {
            flex-basis: 100%;
        }
    }

    .works__number {
        position: relative;
        font-size: 1.6em;
        font-weight: $font-regular;
        color: $night-primary;

        &::after {
            @include pseudo;
            border-bottom: 2px solid $night-primary;
            width: 3.8em;
            transform: rotate(-45deg);
            top: 1.3em;
            left: -.5em;
        }

    }

}

.project {
    align-self: center;

    .project__img {
        height: 5em;
        margin-bottom: 1em;
    }

    .project__caption {
        color: $night-primary;
        text-transform: uppercase;
    }
}


.info {
    box-sizing: border-box;
    position: absolute;
    width: 60%;
    height: 80%;
    bottom: -100%;
    left: 20%;
    background: $night-primary;
    padding: 1em;
    color: $white;
    z-index: 10;
    transition: bottom .5s;

    .info__heading {
        text-transform: uppercase;
        padding-bottom: .6em;
        border-bottom: .08em solid $beige;
        margin-bottom: 1.4em;
    }

    .info__list-item {
        padding: .2em;
    }
}