@media screen and (min-width: 1080px) and (max-width: 1279px) {

    #about-section .figure > .description {
        margin-bottom: 50px;
    }
    footer > #media-links a {
        font-size: 1.65em;
        padding: 15px;
    }
}

/*Medium and small devices media queries*/

@media screen and (max-width: 1079px) {

    #about-section > #about-flexbox,
    #skills-section > #skills-flexbox,
    #feedback-section > #feedback-flexbox {
        flex-flow: row wrap;
    }

    #about-section .figure,
    #skills-section .circle-container,
    #feedback-section > #feedback-flexbox > .feedback-figure {
        width: 50%;
        margin-bottom: 50px;
    }

    #about-section #about-flexbox .figure {
        margin-bottom: 80px;
    }

    #about-section .figure > .description {
        margin-bottom: 0;
    }

    #feedback-section > #feedback-flexbox > .feedback-figure {
        text-align: center;
        position: relative;
    }

    #feedback-section > #feedback-flexbox .picture {
        float: none;
        margin: 0;
    }

    #feedback-section .feedback-figure > h3,
    #feedback-section .feedback-figure > .position {
        position: absolute;
        width: 100%;
    }

    #feedback-section .feedback-figure > h3 {
        top: 160px;
    }

    #feedback-section .feedback-figure > .position {
        top: 190px;
    }

    #feedback-section .feedback-figure .quote {
        margin-top: 100px;
        padding: 0 20px;
    }

    footer > #media-links {
        display: flex;
        justify-content: space-around;
    }

    footer > #media-links a {
        font-size: 1.5em;
        padding: 10px;
    }
}

/*Phones media queries*/

@media screen and (max-width: 767px) {

    #main-nav > #nav-menu {
        display: none;
    }

    #main-nav > #dropdown-container {
        display: block;
    }

    #main-header > #main-heading {
        font-size: 2.5em;
    }

    section > .section-header > h2 {
        font-size: 2em;
    }

    section > .section-header > p {
        font-size: 1.1em;
    }

    #about-section > #about-flexbox,
    #feedback-section > #feedback-flexbox {
        flex-flow: column nowrap;
    }

    #about-section .figure,
    #feedback-section > #feedback-flexbox > .feedback-figure {
        width: 100%;
    }

    #about-section .figure > .description {
        height: 80px;
    }

    #contact-section > form > .input-container,
    #contact-section > form > #textarea-container {
        width: 100%;
        float: none;
    }

    footer > #media-links {
        display: none;
    }

    footer > .social-media-icons {
        display: flex;
        justify-content: space-between;
    }
}

/*Small phones media queries*/

@media screen and (max-width: 480px) {

    #about-section .figure > .description {
        height: 100px;
    }

    #skills-section > #skills-flexbox {
        flex-flow: column nowrap;
    }

    #skills-section .circle-container {
        width: 100%;
        margin-bottom: 50px;
    }
}