#cog12-sm {
    animation: clockwise 5s linear 0s infinite;
    transform-origin: 1168px 597px;
}

#cog11-md {
    animation: counter-clockwise 10s linear 0s infinite;
    transform-origin: 1038px 575px;
}

#cog10-sm {
    animation: clockwise 7.98s linear 0s infinite;
    transform-origin: 1047px 433px;
    transform: rotate(-2deg);
}

#cog9-sm {
    animation: counter-clockwise 7.96s linear 0s infinite;
    transform-origin: 849px 608px;
}

#cog8-md {
    animation: counter-clockwise 12.95s linear 0s infinite;
    transform-origin: 920px 408px;
}

#cog7-md {
    animation: counter-clockwise 9.98s linear 0s infinite;
    transform-origin: 958px 212px;
}

#cog6-md {
    animation: clockwise 11.96s linear 0s infinite;
    transform-origin: 704px 578px;
}

#cog5-lg {
    animation: clockwise 14.95s linear 0s infinite;
    transform-origin: 766px 267px;
}

#cog4-lg {
    animation: counter-clockwise 19.9s linear 0s infinite;
    transform-origin: 491px 408px;
}

#cog3-sm {
    animation: clockwise 4.98s linear 0s infinite;
    transform-origin: 351px 241px;
}

#cog2-md {
    animation: clockwise 10.96s linear 0s infinite;
    transform-origin: 223px 406px;
}

#cog1-sm {
    animation: counter-clockwise 4.98s linear 0s infinite;
    transform-origin: 129px 508px;
}

#lightbulb-fill {
    animation: lightbulb 3s ease-out 0s infinite;
}

@keyframes clockwise {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes counter-clockwise {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(-360deg);
    }
}

@keyframes lightbulb {
    0%, 100% {
        fill: rgba(66, 66, 65, 0.26);
    }
    
    25% {
        fill: rgb(212, 212, 85);
    }
    
    50% {
        fill: rgb(245, 244, 110);
    }
    
}