body {
    background-color: #424241;
    color: #f5f5f5;
}

a,
#form-submit-btn {
    color: #f5f5f5;
}


#side-nav.visible {
    box-shadow: 0 0 .2em .02em #222;
}

#side-nav a {
    border: .1em solid #CCA958;
}

.projects-item {
    border: 1px solid #424241;
    color: #424241;
}

.form-textarea textarea,
.form-inputs input {
    background-color: #424241;
}