/* General styles */

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F4F0ED;
    color: #424241;
    transition: background-color .3s ease-in, color .3s ease-in;
}

body.night-theme {
    background-color: #424241;
    color: #f5f5f5;
}

body,
h1,
h2,
h3,
p,
ul,
figure {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #424241;
    transition: color .3s;
}

a.night-theme {
    color: #f5f5f5;
}

a:hover {
    color: #B2893B;
}

#main-header,
footer {
    padding: 2em 0;
    margin: 0 2em;
}

/* main header */

#main-header {
    text-align: center;
    height: 100vh;
}

#main-header > .headings {
    margin-bottom: 2.4em;
}

#main-header h1 {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 0.4em;
    border: 2px solid #B2893B;
    font-size: 3.2em;
    font-weight: 400;
}

#main-header h2 {
    font-size: 1.4em;
    font-weight: 300;
    letter-spacing: .1em;
}


#main-header img {
    position: absolute;
    height: 30em;
    width: 20em;
}

#main-header img:first-of-type {
    top: 12em;
    left: 0;
}

#main-header img:nth-of-type(2) {
    right: 0;
    top: 14em;

}

#main-header img:nth-of-type(3) {
    width: 24em;
    left: 50%;
    transform: translateX(-50%);
    top: 16em;
}


/* theme switch  */

#theme-switch {
    display: none;
}

label[for="theme-switch"] {
    position: relative;
    left: 94%;
    display: block;
    width: 3em;
    height: 1.5em;
    border-radius: 2em;
    background-color: #424241;
}

label[for="theme-switch"]::after {
    position: absolute;
    left: 0;
    content: '';
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    box-shadow: 0 0 0.04em 0.04em #424241;
    background-color: #f5f5f5;
    transition: all .3s ease-in;
}


#theme-switch:checked + label[for="theme-switch"] {
    background-color: #f5f5f5;
}

#theme-switch:checked + label[for="theme-switch"]::after {
    background-color: #f5f5f5;
    left: 1.5em;
}

/* navigation */

#main-nav {
    margin-bottom: 4em;
}

#main-nav .menu-item {
    position: relative;
    display: inline-block;
    padding: 0 3em;
}

.menu-item a {
    padding: 0 20px;
    border-right: 1px solid #424241;
    border-left: 1px solid #424241;
    font-weight: 400;
    letter-spacing: 0.1em;
    border-radius: 0.4em;
    transition: all .3s;
}


.menu-item a:hover::after,
.menu-item a:hover::before {
    top: 0.5em;
    position: absolute;
    content: '';
    width: 0.3em;
    height: 0.3em;
    border-radius: 5em;
    background-color: #B2893B;
}

.menu-item a:hover::after {
    right: 1.5em;
}

.menu-item a:hover::before {
    left: 1.5em;
}

.menu-item a.night-theme {
    border-color: #f5f5f5;
}

/* projects section */

#works-section {}

#works-section > .works-container {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    height: 50em;
    margin: 0 auto;
}

.works-container .works-item {
    text-align: center;
    box-sizing: border-box;
    position: relative;
    padding: 1em;
    width: 50%;
    height: 50%;
    border: 1px solid #F4F0ED;
    background-color: #A93B3B;
    transition: background .3s linear;
    /*    color: #f5f5f5;*/
}

.works-item.night-theme {
    border: 1px solid #424241;
}

.works-item:hover {
    background: #416B9E;
}

.item-number {
    position: absolute;
    font-size: 2em;
    font-weight: 400;
}

.works-item:nth-of-type(-n+2) .item-number {
    top: 0.5em;
}

.works-item:nth-of-type(2n+1) .item-number,
.works-item:nth-of-type(2n+2) .works-info{
    left: 0.6em;
}

.works-item:nth-of-type(2n+2) .item-number,
.works-item:nth-of-type(2n+1) .works-info {
    right: 0.6em;
}

.works-item:nth-of-type(1n+3) .item-number,
 
.works-item:nth-of-type(1n+3) .works-info{
    bottom: 0.5em;
}

.works-item figure {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.works-item img {
    height: 6em;
}

.works-item h3 {
    color: #f5f5f5;
    font-size: 1em;
    text-transform: uppercase;
}

.works-info {
    position: absolute;
    width: 2em;
    height: 2em;
    font-size: 2em;
    color: #f5f5f5;
    font-family: 'Mina', sans-serif;
    background:  #A93B3B;
    border: 1px solid #424241;
    border-radius: 50%;
    transition: background .3s;
    cursor: pointer;
}

.works-info:hover {
    background: #F4F0ED;
    color: #416B9E;
}


.item-number::after {
    content: '';
    position: absolute;
    border-bottom: 2px solid #424241;
    width: 4em;
}

.works-item:nth-of-type(3n+1) .item-number::after {
    transform: rotate(-45deg);
}
.works-item:nth-of-type(2) .item-number::after,
.works-item:nth-of-type(3) .item-number::after {
    transform: rotate(45deg);
}

.works-item:nth-of-type(3) .item-number::after,
.works-item:nth-of-type(4) .item-number::after {
    bottom: 1.4em;
}

.works-item:nth-of-type(1) .item-number::after,
.works-item:nth-of-type(2) .item-number::after {
    top: 1.4em;
}

.works-item:nth-of-type(1) .item-number::after,
.works-item:nth-of-type(3) .item-number::after {
    left: -0.6em;
}

.works-item:nth-of-type(2) .item-number::after,
.works-item:nth-of-type(4) .item-number::after {
    right: -0.6em;
}

/* footer */

footer {
    line-height: 40px;
}

footer > .copyright {
    float: left;
}

.media-icons {
    float: right;
}

.media-icons > a {
    display: inline-block;
    font-size: 1.6em;
    padding-left: 20px;
}
