/* General styles */

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F4F0ED;
    color: #424241;
    transition: background-color .3s ease-in, color .3s ease-in;
    letter-spacing: .1em;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
figure {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

a,
#form-submit-btn {
    text-decoration: none;
    color: #424241;
    transition: color .3s;
}


a:hover,
#form-submit-btn:hover {
    color: #CCA958;
}

#main-header,
section {
    box-sizing: border-box;
    padding: 2em 4em;
}

section {
    min-height: 100vh;
}

.section-header {
    text-align: left;
    margin-bottom: 5em;
}

.section-header h2 {
    text-transform: uppercase;
    margin-bottom: 1em;
    font-weight: 400;
}

.section-header p {
    line-height: 2em;
    font-weight: 300;
}

.button > span {
    color: #CCA958;
}

.button > span:first-of-type {
    margin-right: 1em;
}

.button > span:nth-of-type(2) {
    margin-left: 1em;
}

.button::before {
    position: absolute;
    top: .5em;
    left: -30em;
    content: '';
    width: .3em;
    height: .3em;
    border-radius: .5em;
    background-color: #CCA958;
    opacity: 0;
    transition: all .3s;
}

.button:hover::before,
.button.active {
    opacity: 1;
    left: 1em;
}


/* main header */

#main-header {
    position: relative;
    text-align: center;
    height: 100vh;
    width: 100%;
}

#main-header svg {
    height: 50vh;
    max-width: 80%;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}


#main-header .headings {
    width: 80%;
    margin: 0 auto 2.8em auto;
}

#main-header h1 {
    display: inline-block;
    padding: .3em .6em;
    margin-bottom: 0.2em;
    border: 2px solid #cca958;
    font-size: 2.6em;
    font-weight: 400;
}

#main-header h2 {
    font-size: 1.3em;
    font-weight: 300;
    letter-spacing: .1em;
}

/* theme switch  */

#theme-switch {
    display: none;
}

label[for="theme-switch"] {
    position: relative;
    float: right;
    width: 3em;
    height: 1.5em;
    border-radius: 2em;
    background-color: #424241;
}

label[for="theme-switch"]::after {
    position: absolute;
    content: '';
    left: 0;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    box-shadow: 0 0 0.1em 0.1em #424241;
    background-color: #f5f5f5;
    transition: all .3s ease-in;
}

#theme-switch:checked + label[for="theme-switch"] {
    background-color: #f5f5f5;
}

#theme-switch:checked + label[for="theme-switch"]::after {
    background-color: #f5f5f5;
    left: 1.5em;
}

/* navigation */

#main-nav {
    width: 100%;
    margin-bottom: 5em;
    padding: 1em 0;
    text-align: center;
    transition: all .3s;
}

#main-nav .menu-item {
    position: relative;
    display: inline-block;
    padding: 0 2em;
    transition: padding .5s;
}

#main-nav.fixed {
    position: fixed;   
    top: 0;
    left: 0;
    background-color: #F4F0ED; 
    box-shadow: 0 .2em 2em .01em #b2a9a1;
    z-index: 30;
}

#main-nav.fixed .menu-item {
    padding: 0 3em;
}

/* about section */

.about-item {
    position: relative;
    width: 70em;
    margin: 0 auto;
    margin-bottom: 2em;
}

.about-item h3 {
    text-align: center;
    font-weight: 500;
    margin-bottom: .8em;
}

.about-item .col-1-2, 
.about-item .col-2-2{
    width: 50%;
}
.about-item .col-2-2 {
}

.about-item-content {
    position: relative;
    padding: 0 2em 1em 2em;
    border: 2px solid #CCA958;
    border: 2px solid #424241;
    line-height: 2em;
    font-weight: 300;
}

.about-item-content a {
    display: inline-block;
    position: relative;
}

.about-item-content a::after {
    content: '';
    position: absolute;
    bottom: .3em;
    right: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #424241;
}

.skills {
    display: flex;
}

.col-1-2 .skills-list {
    border-right: 2px solid #424241;
}

.skills-list {
    padding: 0 2em;
}

.about-item-content::after,
.about-item-content::before {
    position: absolute;
    content: '';
    border-top: .6em solid #F4F0ED;
    width: 96%;
    left: 2%;
}


.about-item-content::after {
    top: -.3em;
}

.about-item-content::before {
    bottom: -.3em;
}

/* projects section */


#projects-section > .projects-container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 48em;
}

.projects-item {
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative;
    padding: 1em;
    flex-basis: 50%;
    border: 1px solid #F4F0ED;
    background-color: #b2a9a1;
    overflow: hidden;
}

.item-number {
    position: relative;
    font-size: 1.8em;
    font-weight: 400;
    color: #424241;
}

.item-number::after {
    content: '';
    position: absolute;
    border-bottom: 2px solid #424241;
    width: 4em;
    transform: rotate(-45deg);
    top: 1.4em;
    left: -.4em;
}

.projects-item figure {
    align-self: center;
}

.projects-item img {
    height: 5em;
    margin-bottom: 1em;
}

.projects-item h3 {
    color: #f5f5f5;
    color: #424241;
    font-size: 1.4em;
    font-weight: 500;
    text-transform: uppercase;
}

.project-info-btn {
    align-self: flex-end;
    width: 1.4em;
    height: 1.4em;
    font-size: 1.8em;
    background-color: #b2a9a1;
    border: none;
    color: #424241;
    box-shadow: 0 0 .05em .05em #746a66;
    border-radius: 50%;
    transition: color .3s;
    cursor: pointer;
}

.project-info-btn:hover {
    color: #b2a9a1;
}

.project-info {
    box-sizing: border-box;
    position: absolute;
    width: 60%;
    height: 80%;
    bottom: -100%;
    left: 20%;
    background: #424241;
    padding: 1em;
    color: #f5f5f5;
    z-index: 10;
    transition: all .5s;
}

.project-info h4 {
    margin-bottom: 1em;
}

.project-info li {
    text-align: left;
    padding: .2em;
}

.project-info-btn:hover + .project-info,
.project-info.visible {
    bottom: 10%;
}

/* contact section */

#contact-section img {
    flex-basis: 50%;
}

#contact-section form {
    flex-basis: 50%;
    text-align: center;
}

.contact-section-content {
    display: flex;
    justify-content: space-around;
}

form textarea,
form input {
    box-sizing: border-box;
    width: 100%;
    display: block;
    margin-bottom: 3em;
    border: 1px solid #CCA958;
    padding: 1em;
    letter-spacing: .1em;
    font-family: 'Montserrat', sans-serif;
    color: #424241;
    background-color: #F4F0ED;
}

form textarea {
    height: 22em;
}

form textarea::placeholder,
form input::placeholder {
    text-transform: uppercase;
}

#form-submit-btn {
    cursor: pointer;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    border: none;
    background: none;
    font-size: 1em;
    letter-spacing: .1em;
}

#form-submit-btn:hover::before {
    left: -1em;
}

/* footer */

footer {
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright span {
    color: #CCA958;
}

.footer-nav li {
    display: inline-block;
    font-size: 1.6em;
    padding-left: 20px;
}