@media screen and (max-width: 480px) {
	#gallery {
		width: 100%;
	}
	
	.products {
		width: 90%;
	}
    
    .mask {
        width: 100%;
    }
    
}

@media screen and (min-width: 481px) and (max-width: 992px) {
    .products {
        width: 45%;
    }
    
    .mask {
        width: 100%;
    }
}
