@media screen and (max-width: 480px) {
	#gallery {
		width: 100%;
	}
	
	.products {
		width: 1000%;
	}
}

@media screen and (min-width: 481px) and (max-width: 992px) {
    #gallery {
        width: %;
    }
    
    products {
        width: %;
    }
}