* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #98fb98;
}

#gallery {
    position: relative;
    top: 250px;
    display: block;
    text-align: center;
}

.products {
    margin: 0 20px 20px 0;
    width: 435px;
    height: 450px;
    display: inline-block;
    background-position: center;
    background-size: cover;
}

.mask {
    position: relative;
    width: 435px;
    height: 450px;
    background-color: #ff6f00;
    opacity: 0;
    transition: opacity 300ms ease;
}

a {
    position: absolute;
    color: #fff;
    font-size: 4em;
    transform: translate(-50%, -350%);
    opacity: 0;
    transition: opacity 300ms ease;
}

.products:hover > .mask {
    opacity: 0.7;
}

.mask:hover + a,
a:hover {
    opacity: 1;
}

#product-1 {
    background-image: url(../img/product-1.jpg);
}

#product-2 {
    background-image: url(../img/product-2.jpg);
}

#product-3 {
    background-image: url(../img/product-3.jpg);
}

#product-4 {
    background-image: url(../img/product-4.jpg);
}