/* general styles */

body {
    margin: 0;
    background-color: #edf1f4;
    color: #333;
}

body,
input,
button {
    font-family: 'Titillium Web', sans-serif;
}

form,
button {
    box-shadow: 0 0 1px 1px #8a94a8;
}

/* form styles */

form {
    box-sizing: border-box;
    margin: 2em auto;
    width: 35em;
    padding: 2em 4em;
    border-radius: 2%;
    background-color: #6ac5ed;
}

h1 {
    text-align: center;
    margin-bottom: 0 0 2em;
}

.checkbox-container,
button {
    margin-bottom: 1.4em;
}

.input-container {
    margin-bottom: 5em;
}

input,
button {
    padding: .4em .8em;
    border: none;
    border-radius: .3em;
    color: #575757;
}

#pass-length {
    font-size: .8em;
    margin-left: .5em;
    width: 3em;
}

#generate-btn,
#clipboard {
    font-size: 1.2em;
    cursor: pointer;
}

#generate-btn {
    width: 100%;
    text-transform: uppercase;
    letter-spacing: .1em;
    transition: all .3s;
}

#generate-btn:hover {
    color: #54ac58;
    box-shadow: 0 0 1px 1px #54ac58;
}

#clipboard {
    float: right;
}

#clipboard > span {
    margin-left: .5em;
}

#password-display {
    font-size: 1em;
    width: 50%;
    letter-spacing: 0.1em;
    margin-right: 10px;
    float: left;
}

.clearfix {
    clear: both;
}

#warning {
    font-size: 1.6em;
    color: #fa5757;
    text-align: center;
    visibility: hidden;
}

#warning.show {
    visibility: visible;
}

/* custom checkboxes */

.checkbox-container {
    margin-left: .3em;
}

.checkbox-container label {
    position: relative;
}

.checkbox-container label::after,
.checkbox-container label::before {
    position: absolute;
    top: .25em;
}

.checkbox-container label::after {
    content: '';
    left: -1.5em;
    width: 1.1em;
    height: 1.1em;
    border-radius: .2em;
    background-color: #fff;
}

.checkbox-container label::before {
    font-family: 'FontAwesome';
    content: '\f00c';
    left: -1.45em;
    opacity: 0;
    color: #575757;
    transition: all .1s;
    z-index: 20;
}

.checkbox-container > input[type=checkbox] {
    visibility: hidden;
}

.checkbox-container > input[type=checkbox]:checked + label::before {
    opacity: 1;
}