$white: #fff;
$creamy-white: #F9F9F9;
$black: #262a34;
$black-lite: #3c3d41;
$grey: #51565C;
$grey-lite: #909398;
$beige: #b2a9a1;
$green: #41e0d8;
$green-lite: #B6F4F1;


$base-font: 'Open Sans', sans-serif;
$base-font-size: 16px;
$h1-font-size: 2.6em;
$h2-font-size: 2em;
$h3-font-size: 1.3em;
$h4-font-size: 1.2em;


$font-regular: 400;
$font-semi-bold: 600;


//#41E0D8
//#262A34
//#F9F9F9
//#F7FFFF
//#FFFFFF
//
//#443B3B


/*

button black = $about-black: #262A34;
about section = $about-black: #262A34;
footer = 262A34
footer = 
naglowek color 3c3d41



*/